section.module.z-depth-3
  header.top-bar.teal
    div.left
      i.tiny.material-icons question_answer
      h1#user_name  Messagerie
    div.right
      i#hide_chat.tiny.bold.material-icons(data-click='hide') keyboard_arrow_up
  section#messages_container
    ol.discussion.grey.lighten-2
    section#text_field.grey.lighten-2
      div.row.no_margin
        .input-field.col.s12.no_margin
          textarea#message_field.no_margin.white.materialize-textarea.z-depth-3(name="message", placeholder="Message ...")
