div.row.valign.row_form_container.animated.bounceInUp
  .col.s12
    div#session_form
      form(action="", method='post')
        .row
          div(class="input-field col s12")
            input.validate#user_pseudo(type="text", name="pseudo", required)
            label(for="user_pseudo", data-error="Invalide", data-success="Valide") Pseudo

        .row
          div(class="input-field col s12")
            button(class="btn-large btn-flat waves-effect waves-light white-text blue-grey lighten-1" type="submit" name="commit")
              | Se connecter
              i.material-icons.right send
