extends layout
block append bottom
  script(type='text/javascript', src='/javascripts/ace/src-min-noconflict/ace.js', charset="utf-8")
  script.
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/solarized_dark");
    editor.session.setMode("ace/mode/ruby");
    editor.getSession().setTabSize(2);
    editor.getSession().setUseSoftTabs(true);

block content
  div.row
    section#editor.z-depth-3.col.s12.m9
    section#chat.col.s12.m3.right
      section.module
        header.top-bar
          h1 Hangouts
          ol.conversation
            li
              img.avatar(src="", alt="")
              .message
                p Talkie talk talk
