extends ../layout
block append head
  link(rel='stylesheet', href='/stylesheets/chat.css')

block append bottom
  script(type='text/javascript', src='/javascripts/ace/src-min-noconflict/ace.js', charset="utf-8")
  script(type='text/javascript', src='/javascripts/chat.js', charset="utf-8")
  script(type='text/javascript', src='/socket.io/socket.io.js')
  
  script.
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/solarized_dark");
    editor.session.setMode("ace/mode/ruby");
    editor.getSession().setTabSize(2);
    editor.getSession().setUseSoftTabs(true);

block content
  div.row
    section#editor.z-depth-3.col.s12.m12
  div.row
    include ../partials/chat_box
